body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.product-view {
    flex: 8; /* 70% */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
    height: 100vh;
    position: relative;
}

.product-view #video-container {
    width: 100%;
    height: 100%;
}

.product-details {
    flex: 2; /* 30% */
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100vh;
}

#total-price {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 40px; 
    width: 100%; 
    max-width: 300px; 
  }

.option {
    margin-bottom: 15px;
    position: relative;
}

.option label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-content button {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #f0f0f0;
}

.price {
    font-size: 1.5em;
    margin-bottom: 15px;
}



.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
}

#olivia:hover {
    background-image: url(Images/OliviaBG.png);
}

#sabbia:hover {
    background-image: url(Images/sabbiaBG.png);
}

#blu:hover {
    background-image: url(Images/bluBG.png);
}

#carminio:hover {
    background-image: url(Images/carminioBG.png);
}

#frassino:hover {
    background-image: url(Images/frassinoBG.png);
}

#nocecanaletto:hover {
    background-image: url(Images/nocecanaletto.png);
}

#opablack:hover {
    background-image: url(Images/blackBG.png);
}

#orange:hover {
    background-image: url(Images/redBG.png);
}

#white:hover {
    background-image: url(Images/whiteBG.png);
}

#black:hover {
    background-image: url(Images/blackBG.png);
}




